<h1>Editing newsentry</h1>

<%= form_for(@newsentry) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :sticky %><br />
    <%= f.check_box :sticky %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>