<h1>New newsentry</h1>

<%= form_for(@newsentry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, t('newsentry.title') %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, t('newsentry.body') %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :public, t('newsentry.public') %><br />
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :sticky, t('newsentry.sticky') %><br />
    <%= f.check_box :sticky %>
  </p>
  <%= f.hidden_field :guild_id %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
