<div id="topnavbar">
	<ul>
		<li><%= link_to 'Home', root_url %></li>
		<li class="expandable">
			<%= link_to 'Guilds', guilds_path %>
			<ul style="left: -999em; display: none;">
				<li><%= link_to 'Index', guilds_path %></li>
				<% unless !logged_in? || current_user.guilds.empty? %>
				<li class="expandable"><%= link_to 'My Guilds', guilds_path %>
					<ul>
						<% current_user.guilds.each do |guild| %>
							<li><%= link_to guild.name, guild_path(guild) %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
				<% if logged_in? %>
				<li><%= link_to 'New Guild', new_guild_path %></li>
				<% end %>
			</ul>
		</li>
		<% if logged_in? %>
		<li class="expandable">
			<a>Characters</a>
			<ul style="left: -999em; display: none;">
				<li><%= link_to 'My Characters', user_characters_path(current_user) %></li>
				<li><%= link_to 'Add Character', user_path(current_user) + "/add_character", {:class => 'popup',:title => 'Add Character'}%></li>
			</ul>
		</li>
		<li class="expandable">
			<a>Raids</a>
			<ul style="left: -999em; display: none;">
				<li><%= link_to 'My Raids', user_raids_path(current_user) %></li>
				<li><%= link_to 'New Raid', new_raid_path if permitted_to? :new, :raids %></li>
			</ul>
		</li>
		<% end %>
		<li><%= link_to "Help", '/pages/help' %></li>
		<li class="topnavbar-action">
			<% if logged_in?%>
			<a href="<%= logout_path %>">Logout</a>
			<% else %>
			<a href="<%= login_path %>">Login / SignUp</a>
			<% end %>
		</li>
		<% if logged_in? %>
			<li class="topnavbar-action"><%= link_to 'Account', account_path %></li> 
		  <li class="topnavbar-action"><a><%= t("layouts.logged_in_as") %> <%= current_user.login.capitalize %></a></li>
		<% end %>
	</ul>
</div> 