<%= form_for(@attendance) do |f| %>
  <%= f.error_messages %>
  <table>
	<tr>
		<th><%= f.label :character %></th>
		<th><%= f.label :role %></th>
		<th><%= f.label :status %></th>
		<th><%= f.label :message %></th>
		<th></th>
	</tr>
	<tr>
		<td><%= f.collection_select(:character_id, current_user.characters, :id, :name, {:prompt => "Select a character"}) %></td>
		<td><%= f.select(:role, configatron.raidplanner.roles, {:prompt => "Select a role"}) %></td>
		<td><%= f.select(:status, configatron.raidplanner.status) %></td>
		<td><%= f.text_field :message %></td>
		<td><%= f.submit 'Create' %></td>
	</tr>
  </table>
  <%= f.hidden_field :raid_id %>
<% end %>