<h1>Editing raid</h1>

<%= form_for(@raid) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :max_attendees %><br />
    <%= f.text_field :max_attendees %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :invitation_window %><br />
    <%= f.select :invitation_window, [15,30,45,60] %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.select :duration, [1,2,3,4,5,6] %>
  </p>
  <p>
	<%= image_tag("/images/icons/raid/#{@raid.icon}", :size => "65x65", :id => "raidiconimg") %>
	<%= select("raid", "icon", @raid_icons, {:prompt => "select an icon"}) %>

	<script type="text/javascript" charset="utf-8">
	$("#raid_icon").live('change',function(){
		if($("#raid_icon").val() != ""){
		  $("#raidiconimg").attr("src","/images/icons/raid/" + $("#raid_icon").val());
		} else {
		  $("#raidiconimg").attr("src","/images/icons/raid/nil.png");	
		}
		}); 
	</script>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :leader %><br />
    <%= f.select :leader, @possible_leaders %>
  </p>
	<table>
		<% configatron.raidplanner.roles.each do |role| %>
		<tr>
			<td><%= role %></td>
			<td><%= text_field :limit_roles, role, :value => @raid.limit_roles[role] %></td>
		</tr>
		<% end %>
  </table>
	<table>
		<% configatron.raidplanner.classes.each do |klass| %>
		<tr>
			<td><%= klass %></td>
			<td><%= text_field :limit_classes, klass, :value => @raid.limit_classes[klass] %></td>
		</tr>
		<% end %>
  </table>
	<p>
    <%= f.label :autoconfirm %><br />
    <%= f.check_box :autoconfirm %>
  </p>
  <p>
    <%= f.label :closed %><br />
    <%= f.check_box :closed %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>