<% unless @raids.nil? || @raids.empty? %>
<div id="calendar">
	<h2 id="month">
	  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y/%m") %>
	  <%=h @date.strftime("%B %Y") %>
	  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y/%m") %>
	</h2>
	<% calendar_for @raids, :year => @date.year, :month => @date.month do |calendar| %>
	  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
	  <% calendar.day(:day_method => :start) do |date, raids| %>
		<%= date.day %>
		<ul>
		  <% for raid in raids %>
		    <li><%= link_to h(raid.title), guild_raid_path(raid.guild, raid) %></li>
		  <% end %>
		</ul>
	  <% end %>
	<% end %>
</div>

<table>
  <thead>
	<tr>
		<th></th>
    	<th>Guild</th>
    	<th>Title</th>
    	<th>Date</th>
    	<th>Invite start</th>
    	<th>Start</th>
    	<th>End</th>
    	<th>Leader</th>
		<th class="narrow">Max</th>
		<th class="narrow">In</th>
    	<th class="narrow">Closed</th>
		<th class="narrow"></th>
		<th class="narrow"></th>
  	</tr>
  </thead>
  <tbody>
	<tr class="header">
		<th></th>
		<th colspan="7"><%= image_tag('icons/door_in.png')%> Upcomming Raids</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<%= render :partial => "raid", :collection => @upcomming_raids %>
  </tbody>
  <tbody>
	<tr class="header">
		<th></th>
		<th colspan="7"><%= image_tag('icons/door_open.png')%> Running Raids</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>	
	<%= render :partial => "raid", :collection => @running_raids %>
  </tbody>
  <tbody>
	<tr class="header">
		<th></th>
		<th colspan="7"><%= image_tag('icons/door.png')%> Past Raids</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<%= render :partial => "raid", :collection => @past_raids %>
  </tbody>
</table>
<% else %>
<p>There are no raids which could be attended by you</p>
<% end %>
<br />

<%= link_to 'New raid', "/guilds/#{@guild.id}/raids/new" unless @guild.nil? %>