<div id="content_menu">
	<ul>
		<% if permitted_to?(:create, :raids) %>
		<% if params[:guild_id] %>
		<li><%= link_to 'New raid', new_guild_raid_path(@guild) %></li>
		<% else %>
		<li><%= link_to 'New raid', new_raid_path %></li>
		<% end %>
		<% end %>
	</ul>
</div>

<% unless @raids.nil? || @raids.empty? %>
<div id="calendar">
	<h2 id="month">
	  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y/%m") %>
	  <%=h @date.strftime("%B %Y") %>
	  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y/%m") %>
	</h2>
	<%= calendar_for @raids, :year => @date.year, :month => @date.month do |calendar| %>
	  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
	  <%= calendar.day(:day_method => :start) do |date, raids| %>
		<%= date.day %>
		<ul>
		  <%- for raid in raids -%>
		    <li><a href="<%= guild_raid_path(raid.guild, raid) %>" class="raidlink"><%= image_tag("icons/raid/#{raid.icon}", :size => "30x30", :class => "raidicon_small") %><%=h raid.title %></a></li>
		  <%- end -%>
		</ul>
	  <%- end -%>
	<%- end -%>
</div>

<table>
  <thead>
	<tr>
		<th></th>
    	<th>Guild</th>
    	<th>Title</th>
    	<th>Date</th>
    	<th>Invite start</th>
    	<th>Start</th>
    	<th>End</th>
    	<th>Leader</th>
		<th class="narrow">Max</th>
		<th class="narrow">In</th>
    	<th class="narrow">Closed</th>
		<th class="narrow"></th>
		<th class="narrow"></th>
  	</tr>
  </thead>
  <tbody>
	<tr class="header">
		<th></th>
		<th colspan="7"><%= image_tag('icons/door_in.png')%> Upcoming Raids</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<%= render :partial => "raid", :collection => @upcoming_raids %>
  </tbody>
  <tbody>
	<tr class="header">
		<th></th>
		<th colspan="7"><%= image_tag('icons/door_open.png')%> Running Raids</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>	
	<%= render :partial => "raid", :collection => @running_raids %>
  </tbody>
  <tbody>
	<tr class="header">
		<th></th>
		<th colspan="7"><%= image_tag('icons/door.png')%> Past Raids</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<%= render :partial => "raid", :collection => @past_raids %>
  </tbody>
</table>
<% else %>
<p>There are no raids which could be attended by you</p>
<% end %>
<% end %>