<h1>New raid</h1>

<%= form_for(@raid) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :max_attendees %><br />
    <%= f.text_field :max_attendees %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start, :default => 1.day.from_now %>
  </p>
  <p>
    <%= f.label :invitation_window %><br />
    <%= f.select :invitation_window, [15,30,45,60] %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.select :duration, [1,2,3,4,5,6] %>
  </p>
  <p>
    <%= f.label :min_lvl %><br />
    <%= f.text_field :min_lvl %>
  </p>
  <p>
    <%= f.label :max_lvl %><br />
    <%= f.text_field :max_lvl %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
	<%= image_tag("/images/icons/raid/nil.png", :size => "65x65", :id => "raidiconimg") %>
	<%= select(:raid, :icon, @raid_icons, {:prompt => "select an icon"}) %>
	<script type="text/javascript" charset="utf-8">
	var img = $("raidiconimg")
	Event.observe($("raid_icon"),'change',function(){
		var select = $F("raid_icon")
		if(select != ""){
		  img.writeAttribute("src","/images/icons/raid/" + select);
		} else {
		  img.writeAttribute("src","/images/icons/raid/nil.png");	
		}
		}); 
	</script>
  </p>
	<%= f.hidden_field :leader %>
	<%= f.hidden_field :guild_id %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', raids_path %>