<div id="content_menu">
	<ul>
		<% permitted_to? :edit, @raid do %>
		<li><%= params[:guild_id].nil? ? link_to("Edit",edit_raid_path(@raid)) : link_to("Edit",edit_guild_raid_path(Guild.find(params[:guild_id]),@raid))%></li>
		<% end %>
		<% permitted_to? :destroy, @raid do %>
		<li><%= link_to('Destroy', @raid, :confirm => 'Are you really sure? Destroyed raids can\'t be restored!', :method => :delete) %></li>
		<% end %>
	</ul>
</div>

<div style="position:relative; width:100%">
	
	<%- @raid.icon = "nil.png" if @raid.icon == "" -%>
	<div id="raidicon"><%= image_tag("/images/icons/raid/#{@raid.icon}", :size => "65x65") %></div>
</div>

<h1><%= @raid.title %></h1>


<% if @raid.start > Time.now %>
<h4>Raid starts in <%= time_ago_in_words(@raid.start)%></h4>
<% end %>

<table width="100%" border="0" cellspacing="1" cellpadding="0" class="contentRaid">
    <tr>
	<th width="25%"></th>
	<th width="25%"></th>
	<th width="25%"></th>
	<th width="25%"></th>	
    </tr>

    <tr>
    <td><div align="left" class="raidcontent"><b>participating Guilds</b>:</div></td>
    <td><div align="left" class="raidcontent"><% @raid.guilds.each do |g| %>
		<ul class="guildslist">
			<li><%= link_to(g.name, guild_path(g))  %> <%= link_to(image_tag("icons/kick.png", :size => "10x10"), :controller => 'raids', :action => 'uninvite_guild', :id => @raid.id, :uninvited_guild => g.id) if permitted_to?(:uninvite_guild, @raid) && g != @raid.guild %></li>
		</ul>
	<% end %></div></td>
	<td colspan="2"><div style="float:left;"><%= link_to_function(image_tag("icons/add.png"), visual_effect(:toggle_slide, :invite_form, :duration => 0.5))%></div><div id="invite_form" style="display:none;">
			<% form_for(@raid) do |f| %>
				<%= text_field_with_auto_complete :raid, :invited_guild, {}, { :url => formatted_guilds_path(:js), :method => :get, :param_name => 'search' }  %>
				<%= f.submit 'Invite' %>
			<% end %>
	</div></td>
    </tr>

    <tr>
    <td><div align="left" class="raidcontent"><b>Raidleiter</b>:</div></td>
    <td><div align="left" class="raidcontent"><span class="leader"><%=h User.find(@raid.leader).login %></span></div></td>
    <td><div align="left" class="raidcontent"><b>Member unsigned</b>:</div></td>
    <td><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_status(2).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td><div align="left" class="raidcontent"><b>Invite start</b>:</div></td>
    <td><div align="left" class="raidcontent"><%=h @raid.date %> @ <%=h @raid.invite_start.strftime("%H:%M") %></div></td>
    <td><div align="left" class="raidcontent"><b>Member not sure</b>:</div></td>
    <td><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_status(1).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td><div align="left" class="raidcontent"><b>Start</b>:</div></td>
    <td><div align="left" class="raidcontent"><%=h @raid.date %> @ <%=h @raid.start.strftime("%H:%M") %></div></td>
    <td><div align="left" class="raidcontent"><b>Member signed</b>:</div></td>
    <td><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_status(3).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td><div align="left" class="raidcontent"><b>End</b>:</div></td>
    <td><div align="left" class="raidcontent"><%=h @raid.date %> @ <%= @raid.end.strftime("%H:%M") %></div></td>
    <td><div align="left" class="raidcontent"><b>Member approved</b>:</div></td>
    <td><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_approved(true).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td><div align="left" class="raidcontent"><b>Level Range</b>:</div></td>
    <td><div align="left" class="raidcontent"><%= @raid.levelrange %></div></td>
	<td><div align="left" class="raidcontent"><b>Max attendees</b>:</div></td>
    <td><div align="left" class="raidcontent"><%=h @raid.max_attendees %></div></td>
    </tr>
</table>

<h2>Attendees</h2>

<table width="100%" cellpadding="0" cellspacing="0" border="0" >
	<thead>
	  <tr>
		<th class="narrow"></th>
		<th style="text-align: left;">Name</th>
		<th class="narrow">Level</th>
		<th class="narrow">Race</th>
		<th class="narrow">Class</th>
		<th class="narrow">Role</th>
		<th style="text-align: left;">Message</th>
		<th></th>
	  </tr>
	</thead>
	<% (1..3).each do |i| %>
	<tbody>
	  <tr valign="top" class="header">
		<th></th>
	    <th colspan="6"><%=h configatron.raidplanner.status.index(i).to_s.sub("_"," ") %></th>
		<th></th>
	  </tr>
	  <% @raid.attendances.find_all_by_status(i).each do |attendance|%>
	  <tr style="">
		<td><%= image_tag("icons/tick.png") if attendance.approved %></td>
	    <td class="left"><%=h attendance.character.name %></td>
	    <td><%=h attendance.character.level %></td>
		<td><%= image_tag raceicon_path(attendance.character),:size => "18x18" %></td>
		<td><%= image_tag classicon_path(attendance.character),:size => "18x18" %></td>
	    <td><%=h attendance.role %></td>
	    <td  class="left"><%=h attendance.message %></td>
	    <td><%= link_to((attendance.approved ? "reject" : "approve"), {:controller => :attendances, :id => attendance.id , :action => :approve}) if permitted_to?(:approve,attendance)%></td>
	  </tr>
	  <% end %>
	</tbody>
	<% end %>
</table>

<% unless current_user.characters.empty? %>
<h2>Attend / Change Attendance</h2>

<% if @attendance.new_record? %>
<%= render :partial => "new_attend_form", :object => @attendance %>
<% else %>
<%= render :partial => "update_attend_form", :object => @attendance%>
<% end %>
<% else%>
<h2>please connect a character to your account</h2>
<% end %>