<script type="text/javascript" charset="utf-8">kickoff=new Date(<%= "#{@raid.date.year}, #{@raid.date.month}, #{@raid.date.day}, #{@raid.start.hour}, #{@raid.start.min}" %>);setInterval('updateCDTime(kickoff)', 1000 );</script>

<div style="position:relative; width:100%">
	<div id="raidicon"><%= image_tag("/images/icons/raid/#{@raid.icon}", :size => "65x65") %></div>
</div>

<h1><%= @raid.title %></h1>

<h4>Raid starts in <div id="countdown_time"></div></h4>

<table width="100%" border="0" cellspacing="1" cellpadding="0" class="contentRaid">
    <tr>
    <td colspan="4"><div class="subcontentHeader"></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Guild</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><span class="leader"><%=h @raid.guild.name %></span></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member unsigned</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_status(2).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Raidleiter</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><span class="leader"><%=h User.find(@raid.leader).login %></span></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member not sure</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_status(1).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Invite start:</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.date %> @ <%=h @raid.invite_start.strftime("%H:%M") %></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member signed</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_status(3).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Start</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.date %> @ <%=h @raid.start.strftime("%H:%M") %></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member approved</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><% att_s = @raid.attendances.find_all_by_approved(true).count %><%= "#{att_s}/#{@raid.max_attendees} (#{Integer(att_s.to_f / @raid.max_attendees.to_f * 100)}%)"%></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>End</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.date %> @ <%= @raid.end.strftime("%H:%M") %></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Max attendees</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.max_attendees %></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Min. Level</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%= @raid.min_lvl %> </div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Max. Level</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%= @raid.max_lvl %></div></td>
    </tr>
</table>

<h2>Attendees</h2>

<table width="100%" cellpadding="0" cellspacing="0" border="0" >
	<thead>
	  <tr>
		<th class="narrow"></th>
		<th style="text-align: left;">Name</th>
		<th class="narrow">Level</th>
		<th class="narrow">Race</th>
		<th class="narrow">Class</th>
		<th class="narrow">Role</th>
		<th style="text-align: left;">Message</th>
		<th></th>
	  </tr>
	</thead>
	<% (1..3).each do |i| %>
	<tbody>
	  <tr valign="top" class="header">
		<th></th>
	    <th colspan="6"><%=h configatron.raidplanner.status.index(i).to_s.sub("_"," ") %></th>
		<th></th>
	  </tr>
	  <% @raid.attendances.find_all_by_status(i).each do |attendance|%>
	  <tr style="">
		<td><%= image_tag("icons/tick.png") if attendance.approved %></td>
	    <td class="left"><%=h attendance.character.name %></td>
	    <td><%=h attendance.character.level %></td>
		<td><%= image_tag raceicon_path(attendance.character),:size => "18x18" %></td>
		<td><%= image_tag classicon_path(attendance.character),:size => "18x18" %></td>
	    <td><%=h attendance.role %></td>
	    <td  class="left"><%=h attendance.message %></td>
	    <td><%= link_to((attendance.approved ? "reject" : "approve"), {:controller => :attendances, :id => attendance.id , :action => :approve}) if permitted_to?(:approve,attendance)%></td>
	  </tr>
	  <% end %>
	</tbody>
	<% end %>
</table>

<h2>Attend / Change Attendance</h2>

<% if @attendance.new_record? %>
<%= render :partial => "new_attend_form", :object => @attendance %>
<% else %>
<%= render :partial => "update_attend_form", :object => @attendance%>
<% end %>

<%= link_to 'Edit', edit_raid_path(@raid) %> |
<%= link_to 'Back', raids_path %>