<table width="100%" border="0" cellspacing="1" cellpadding="0" class="contentRaid">
    <tr>
    <td colspan="4"><div class="subcontentHeader">Zeit von bis zum beginn des Raids???</div></td>
    </tr>
  
    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Guild</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><span class="leader"><%=h @raid.guild_id %></span></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member not_sure</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent">fehlt</div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Raidleiter</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><span class="leader"><%=h @raid.leader %></span></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member signed</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent">fehlt 0/0 (0.00%)</div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Invite start:</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.date %> @ <%=h @raid.invite_start %></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member unsigned</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent">fehlt 0/0 (0.00%)</div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Start</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.date %> @ <%=h @raid.start %></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Member approved</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent">fehlt 0/0 (0.00%)</div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>End</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.date %> @ <%= @raid.end %></div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Max attendees</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%=h @raid.max_attendees %></div></td>
    </tr>

    <tr>
    <td width="25%"><div align="right" class="raidcontent"><b>Min. Level</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%= @raid.min_lvl %> </div></td>
    <td width="25%"><div align="right" class="raidcontent"><b>Max. Level</b>:</div></td>
    <td width="25%"><div align="left" class="raidcontent"><%= @raid.max_lvl %></div></td>
    </tr>
</table>

Member

<% unless @raid.attendances.empty? %>
<% (1..4).each do |i| %>
<br /><br />
<table width="100%" cellpadding="0" cellspacing="0" border="0" >
<tr valign="top">
	  <td><div class="contentHeader"> <%=h configatron.raidplanner.status.index(i) %></div></td>
  </tr>

  <% @raid.attendances.find_all_by_status(i).each do |attendance|%>

  <tr>
    <td><div class="charname"><%=h attendance.character.name %></div></td>
    <td><div class="charlvl"><%=h attendance.character.level %></div></td>
        <td><div class="charrole"><%=h attendance.role %></div></td>
  </tr>

<% end %>
<% end %>
<% end %>
  
</table>

<br /><br /> New Member/change your thinks <br /><br />

<% if @attendance.new_record? %>
<%= render :partial => "new_attend_form", :object => @attendance %>
<% else %>
<%= render :partial => "update_attend_form", :object => @attendance%>
<% end %>

<%= link_to 'Edit', edit_raid_path(@raid) %> |
<%= link_to 'Back', raids_path %>