<% form_for @guild, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('guilds.name') %><br />
    <%= f.text_field :name, :disabled => true %>
  </p>
  <p>
    <%= f.label t('guilds.logo')%><br />
    <%= f.file_field :logo %>
  </p>
  <p>
    <%= f.label t('guilds.logo') %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label t('guilds.logo') %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit t('guilds.update') %>
  </p>
<% end %>

<%= link_to t('guilds.show'), @guild %> |
<%= link_to t('guilds.back'), guilds_path %>