<% form_for @guild, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :disabled => true %>
  </p>
  <p>
	<%= f.label :logo %><br />
	<%= f.file_field :logo %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @guild %> |
<%= link_to 'Back', guilds_path %>