<h1><%=h @guild.name %></h1>

<% form_for @guild, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t('guilds.logo')%><br />
    <%= f.file_field :logo %>
  </p>
  <p>
    <%= f.label t('guilds.website') %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label t('guilds.description') %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'update' %>
  </p>
<% end %>