<% 
tabs = Array.new

if permitted_to? :create, @guild
	tabs << link_to("New guild", new_guild_path)
end
render :partial => 'shared/tabs', :locals => {:tabs => tabs}
%>

<% @guilds.each_with_index do |guild,i| %>
<div id="<%= i%>" class="guild">
  <div class="guildlogo">
	<%= link_to image_tag(guild.logo.url, :alt => "guildlogo", :size => "100x100"), guild %>
  </div>
  <div class="adminmenu">  
	<% permitted_to? :edit, guild do %>
	<%= link_to image_tag("icons/page_edit.png", :alt => "edt", :size => "16x16"), edit_guild_path(guild) %>
	<% end %>
	<% permitted_to? :destroy, guild do %>
	<%= link_to image_tag("icons/delete.png", :alt => "del", :size => "16x16"), guild_path(guild) ,:confirm => 'Are you sure?', :method => :delete %>
	<% end %>
  </div>
  <div class="guilddetails">
    <div class="guildname"><%=h guild.name %></div>
    <span class="membercount"><%=h guild.characters.count %> Members (<%=h guild.characters.find_all_by_online(true).count %> Online)</span>
    <span><%=h guild.realm%></span>
    <div class="description"><%=h smart_truncate(guild.description, :words => 20) %></div>
  </div>
</div>
<% end %>


<br />

