<% if @guild.users.include?(current_user) %>
<p><%= t('guilds.already_joined')%></p>
<% else %>
<p><%= t('guilds.need_token')%></p>
<%unless @guild.website.empty? %>
  <p><%= t('guilds.more_info_with_http', :website => <%= link_to @guild.website %>) %> ( <%= @guild.realm %> )
<% else %>
  <p><%= t('guilds.more_info') %> ( <%= @guild.realm %> )
<% end %>
  <ul>
    <% @guild.managers.map{|u| u.characters }.flatten.each do |char| %>
      <li><%= char.name %></li>
    <% end %>
  </ul>
</p>

<p><%= t('guilds.already_token')%>:</p>
<%= form_for :guild, :url => guild_path(@guild) + "/join" do |f| %>
	<%= f.text_field :token, :value => '' %>
	<%= f.submit 'Submit' %>
<% end %>
<% end %>
