<% 
tabs = Array.new
tabs << link_to("Index", guilds_path)

if permitted_to? :create, @guild
	tabs << link_to("New guild", new_guild_path)
end
render :partial => 'shared/tabs', :locals => {:tabs => tabs}
%>


<% form_for(@guild) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', guilds_path %>