<% content_for :tooltip do %>
<% CLASSES.each_key do |c|%>
<% tooltip("recruit_#{c}") do %><%=h t("guilds.edit.recruit_#{c}") %><% end %>
<% end %>
<% RAIDTYPES.each_key do |c|%>
<% tooltip("recruit_#{c}") do %><%=h t("guilds.edit.recruit_#{c}") %><% end %>
<% end %>
<% tooltip("recruit_level") do %><%=h t("guilds.recruit_level", :level => @guild.recruit_level) %><% end %>
<% end %>

<div id="description">
	  <%= sanitize @guild.description %>
</div>

<% if @guild.recruit_open %>
<div class="box_big">
	<div class="box_headline"><%=h t('guilds.recruitment')%></div>
	<div>
		<% CLASSES.each_key do |c|%>
			<%= get_recruit_icon(@guild,c) %>
		<% end %>
		<span style="margin-left:25px">
		<% RAIDTYPES.each_key do |c|%>
			<%= get_recruit_icon(@guild,c) %>
		<% end %>
		</span>
		<span style="margin-left:25px">
			<%= get_recruit_level_icon(@guild) %>
		</span>
	</div>
	<div class="box_text">
		<%= sanitize @guild.recruit_text %>
	</div>
</div>

<div class="clear"></div>
<% end %>

<div style="float:right">
	<% unless @online_characters.nil? %>
	<div class="box_small">
	<div class="box_headline">Ingame Members</div>
	<table>
		<tr>
			<th>Name</th>
			<th>Rank</th>
			<th>Class</th>
			<th>Race</th>
			<th>Level</th>
		</tr>
		<% @online_characters.each do |character| %>
		<tr>
			<td><%= link_to character.name, character_path(character) %></td>
			<td><%=h character.rank %></td>
			<td><%= image_tag classicon_path(character),:size => "18x18" %></td>
		    <td><%= image_tag raceicon_path(character),:size => "18x18" %></td>
			<td><%=h character.level %></td>
		</tr>
		<% end %>
	</table>
	</div>
	<% end %>
</div>

<div style="floar:left">
	<div class="box_small">
		<div class="box_headline">Details</div>
		<table>
			<tr>
				<td style="width:50%;"></td>
				<td style="width:50%;"></td>
			</tr>
			<tr>
				<td class="left"><b>Average ItemLevel:</b></td>
				<td><% unless @guild.ail.nil? then %><%=h @guild.ail %><% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Activity:</b></td>
				<td><% unless @guild.activity.nil? then %><%=h @guild.activity %>%<% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Growth Per Month:</b></td>
				<td><% unless @guild.growth.nil? then %><%=h @guild.growth %>%<% else %>n/a<% end %></td>
			</tr class="right">
			<tr>
				<td class="left"><b>Main Character Ratio:</b></td>
				<td><% unless @guild.mainratio.nil? then %><%=h @guild.mainratio %>%<% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Class Homogeneous Ratio:</b></td>
				<td><% unless @guild.classratio.nil? then %><%=h @guild.classratio %>%<% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Average Achivement Points:</b></td>
				<td><% unless @guild.achivementpoints.nil? then %><%=h @guild.achivementpoints %><% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Rating:</b></td>
				<td><% unless @guild.rating.nil? then %><%=h @guild.rating %><% else %>n/a<% end %></td>
			</tr>
		</table>
	</div>

	<div class="box_small">
	  <div class="box_headline">Newest Events</div>
	  <div id="events_box">
		<%= render :partial => "events", :locals => {:events => @events}%>
	  </div>
	</div>

</div>





<div class="clear"></div>