<div style="position:relative; width:100%">
	<div id="guild_switcher">
		<%= select("id", "name", @guilds.collect {|g| [g.name, g.id] }, 
			{:selected => params[:id].to_i},  
			{:onchange => "window.location='/guilds/'+this.value;"} ) %>
	</div>
</div>

<div id="guildinfos">
	<div class="guildlogo">
		<%= image_tag(@guild.logo.url, :alt => "guildlogo", :size => "100x100") %>
	</div>
	<div class="guildname">
	  <%=h @guild.name %>
	</div>
	<div id="guildmembers">
	  <%=h @guild.characters.count %> members <%=h "(#{@online_characters.count} online)"%>
	</div>
	<div id="guildrealm">
	  <%=h @guild.realm %>	
	</div>
	<% unless @guild.website.nil? %>
	<div id="website">
	  <%= link_to @guild.website, @guild.website, :popup => true %>
	</div>
	<% end %>
</div>

<div class="clear">&nbsp;</div>

<div id="description">
	  <%=h @guild.description %>
</div>

<div id="details">
	<h3>Details</h3>
	<table>
		<tr>
			<td style="width:50%;"></td>
			<td style="width:50%;"></td>
		</tr>
		<tr class="right">
			<td><b>Ail:</b></td>
			<td><%=h @guild.ail %></td>
		</tr>
		<tr class="right">
			<td><b>Activity:</b></td>
			<td><%=h @guild.activity %></td>
		</tr>
		<tr class="right">
			<td><b>Growth:</b></td>
			<td><%=h @guild.growth %></td>
		</tr class="right">
		<tr class="right">
			<td><b>Altratio:</b></td>
			<td><%=h @guild.altratio %></td>
		</tr>
		<tr class="right">
			<td><b>Classratio:</b></td>
			<td><%=h @guild.classratio %></td>
		</tr>
		<tr class="right">
			<td><b>Achivementpoints:</b></td>
			<td><%=h @guild.achivementpoints %></td>
		</tr>
	</table>
</div>

<% unless @online_characters.nil? %>
<div id="onlinecharacers">
<h3>online Chars</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Rank</th>
		<th>Class</th>
		<th>Race</th>
		<th>Level</th>
	</tr>
	<% @online_characters.each do |character| %>
	<tr>
		<td><%= link_to character.name, character_path(character) %></td>
		<td><%=h character.rank %></td>
		<td><%= image_tag classicon_path(character),:size => "18x18" %></td>
	    <td><%= image_tag raceicon_path(character),:size => "18x18" %></td>
		<td><%=h character.level %></td>
	</tr>
	<% end %>
</table>
</div>
<% end %>

<h3>Newest Events</h3>
<div id="events_box">
	<%= render :partial => "events", :locals => {:events => @events}%>
</div>

<div style="position:relative; width:100%">
<% if permitted_to? :change, @guild %>
	<div id ="secret">
  		<b>Token:</b>
  		<%=h @guild.token %>
	</div>
<% end %>
</div>