<div id="infos">
	<p>
	  <b>Name:</b>
	  <%=h @guild.name %>
	</p>
	<p>
	  <b>Officer rank:</b>
	  <%=h @guild.officer_rank %>
	</p>
	<p>
	  <b>Raidleader rank:</b>
	  <%=h @guild.raidleader_rank %>
	</p>
	<p>
	  <b>Website:</b>
	  <%=h @guild.website %>
	</p>
</div>
<div id="description">
	<p>
	  <b>Description:</b>
	  <%=h @guild.description %>
	</p>
</div>
<div id="details">
	<p>
	  <b>Ail:</b>
	  <%=h @guild.ail %>
	</p>

	<p>
	  <b>Activity:</b>
	  <%=h @guild.activity %>
	</p>

	<p>
	  <b>Growth:</b>
	  <%=h @guild.growth %>
	</p>

	<p>
	  <b>Altratio:</b>
	  <%=h @guild.altratio %>
	</p>

	<p>
	  <b>Classratio:</b>
	  <%=h @guild.classratio %>
	</p>

	<p>
	  <b>Achivementpoints:</b>
	  <%=h @guild.achivementpoints %>
	</p>
</div>

<%= link_to 'Edit', edit_guild_path(@guild) %> |
<%= link_to 'Back', guilds_path %>