<div id="description">
	  <%= sanitize @guild.description %>
</div>

<script>
	$(function() {
		$( "#news_entries" ).accordion({
			autoHeight: false,
			navigation: true
		});
	});
</script>
<div class="box_big">
	<div class="box_headline"><%= t('guilds.news')%></div>
	<div class="box_menu"><%= link_to "new", new_guild_newsentry_path(@guild) if permitted_to?(:setup, :newsentries) %></div>
	<% unless @newsentries.empty? %>
	<div id="news_entries">
		<%= render :partial => "shared/newsentry", :collection => @newsentries, :locals => {:guild => @guild} %>
	</div>
	<% else %>
		<%=t(".no_news")%>
	<% end %>	
</div>

<div class="clear"></div>

<% if @guild.recruit_open %>
<div class="box_big">
	<div class="box_headline"><%= t('guilds.recruitment')%></div>
	<div>
		<% CLASSES.each_key do |c|%>
			<a title="<%= t("guilds.edit.recruit_#{c}") %>"><%= get_recruit_icon(@guild,c) %></a>
		<% end %>
		<span style="margin-left:25px">
		<% RAIDTYPES.each_key do |c|%>
			<a title="<%= t("guilds.edit.recruit_#{c}") %>"><%= get_recruit_icon(@guild,c) %></a>
		<% end %>
		</span>
		<span style="margin-left:25px">
			<a title="<%= t("guilds.recruit_level", :level => @guild.recruit_level) %>"><%= get_recruit_level_icon(@guild) %></a>
		</span>
	</div>
	<% unless @guild.recruit_text.nil? || @guild.recruit_text.strip.empty?%>
	<div class="box_text">
		<%= sanitize @guild.recruit_text %>
	</div>
	<% end %>
</div>

<div class="clear"></div>
<% end %>

<div style="float:right">
	<% unless @online_characters.nil? %>
	<div class="box_small">
	<div class="box_headline">Ingame Members</div>
	<table>
		<tr>
			<th>Name</th>
			<th>Rank</th>
			<th>Class</th>
			<th>Race</th>
			<th>Level</th>
		</tr>
		<% @online_characters.each do |character| %>
		<tr>
			<td><%= link_to character.name, character_path(character) %></td>
			<td><%= character.rank %></td>
			<td><%= image_tag classicon_path(character),:size => "18x18" %></td>
		    <td><%= image_tag raceicon_path(character),:size => "18x18" %></td>
			<td><%= character.level %></td>
		</tr>
		<% end %>
	</table>
	</div>
	<% end %>
</div>

<div style="floar:left">
	<div class="box_small">
		<div class="box_headline">Details</div>
		<table>
			<tr>
				<td style="width:50%;"></td>
				<td style="width:50%;"></td>
			</tr>
			<tr>
				<td class="left"><b>Average ItemLevel:</b></td>
				<td><% unless @guild.ail.nil? then %><%= @guild.ail %><% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Activity:</b></td>
				<td><% unless @guild.activity.nil? then %><%= @guild.activity %>%<% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Growth Per Month:</b></td>
				<td><% unless @guild.growth.nil? then %><%= @guild.growth %>%<% else %>n/a<% end %></td>
			</tr class="right">
			<tr>
				<td class="left"><b>Main Character Ratio:</b></td>
				<td><% unless @guild.mainratio.nil? then %><%= @guild.mainratio %>%<% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Class Homogeneous Ratio:</b></td>
				<td><% unless @guild.classratio.nil? then %><%= @guild.classratio %>%<% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Average Achivement Points:</b></td>
				<td><% unless @guild.achivementpoints.nil? then %><%= @guild.achivementpoints %><% else %>n/a<% end %></td>
			</tr>
			<tr>
				<td class="left"><b>Rating:</b></td>
				<td><% unless @guild.rating.nil? then %><%= @guild.rating %><% else %>n/a<% end %></td>
			</tr>
		</table>
	</div>

	<div class="box_small">
	  <div class="box_headline">Newest Events</div>
	  <div id="events_box">
		<%= render :partial => "events", :locals => {:events => @events}%>
	  </div>
	</div>

</div>

<div class="clear"></div>