<% 
tabs = Array.new
tabs << link_to("Index", guilds_path)
tabs << link_to("Members", "/guilds/#{@guild.id}/characters")

if permitted_to? :edit, @guild
	tabs << ""
	tabs << link_to("Edit", edit_guild_path(@guild))
	tabs << link_to("Actualize", :action => "actualize", :id => @guild.id)
end
render :partial => 'shared/tabs', :locals => {:tabs => tabs}
%>

<div id="guildinfos">
	<div id="guildlogo">
		<%= image_tag("ph_guildlogo.png", :alt => "guildlogo", :size => "100x100") %>
	</div>
	<div id="guildname">
	  <%=h @guild.name %>
	</div>
	<div id="guildmembers">
	  <%=h @guild.characters.count %> members <%=h "(#{@guild.characters.find_all_by_online(true).count} online)"%>
	</div>
	<% unless @guild.website.nil? %>
	<div id="website">
	  <%=h @guild.website %>
	</div>
	<% end %>
</div>
<div class="clear">&nbsp;</div>
<div id="description">
	  <%=h @guild.description %>
</div>
<div id="details">
	<p>
	  <b>Ail:</b>
	  <%=h @guild.ail %>
	</p>

	<p>
	  <b>Activity:</b>
	  <%=h @guild.activity %>
	</p>

	<p>
	  <b>Growth:</b>
	  <%=h @guild.growth %>
	</p>

	<p>
	  <b>Altratio:</b>
	  <%=h @guild.altratio %>
	</p>

	<p>
	  <b>Classratio:</b>
	  <%=h @guild.classratio %>
	</p>

	<p>
	  <b>Achivementpoints:</b>
	  <%=h @guild.achivementpoints %>
	</p>
	<% if permitted_to? :edit, @guild %>
	<div id ="secret">
	  <b>Token:</b>
	  <%=h @guild.token %>
	</div>
	<% end %>
	
</div>