<h1><%= t('ratings.guild_rating') %></h1>

<table>
  <thead>
	<tr>
		<th>#</th>
		<th><%= t('characters.name') %></th>
		<th><%= t('ratings.rating') %></th>
		<th><%= t('guilds.details.members') %></th>
		<th><%= t('guilds.website') %></th>
	</tr>
	</thead>
	<tbody>
	<% @guilds.each_with_index do |guild,i| %>
	<tr>
		<td><%= "#{i+1}." %></td>
		<td><%= link_to h(guild.name), guild_path(guild) %></td>
		<td><% unless guild.rating.nil? %><%= guild.rating %><% else %><%= t('raitings.not_aviable') %><% end %></td>
		<td><%= guild.characters.count %></td>
		<td><%= link_to guild.website, guild.website %></td>
	</tr>	
	<% end %>
  </tbody>
</table>
<%= will_paginate @guilds%>
