<% cache(caching_path(params,@guild.updated_at.to_i)) do %>
<style type="text/css">
	.ui-tabs .ui-tabs-hide {
		position: absolute;
		top: -10000px;
		display: block !important;
	}
</style>
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>
<% unless @online_data.blank? %>
  <script>
    var chart1;
    $(document).ready(function() {
      chart1 = new Highcharts.Chart({
        chart: {
          renderTo: 'online-chart-container', 
          defaultSeriesType: 'area'
        },
        title: {
          text: 'Online Activity'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Online Members'
          }
        },
        tooltip: {
          formatter: function() {
            return Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>'+
              Highcharts.numberFormat(this.y, 0) +' Members';
          }
        },
        series: [{
            name: '<%= @guild.name %>',
            data: <%= raw @online_data %>
          }]
      });
   
   
    });
  
  </script>
<% end %>
<% unless @growth_data.blank? %>
  <script>
    var chart2;
    $(document).ready(function() {
      chart2 = new Highcharts.Chart({
        chart: {
          renderTo: 'growth-chart-container', 
          defaultSeriesType: 'area'
        },
        title: {
          text: 'Growth'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Members'
          }
        },
        tooltip: {
          formatter: function() {
            return Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>'+
              Highcharts.numberFormat(this.y, 0) +' Members';
          }
        },
        series: [{
            name: '<%= @guild.name %>',
            data: <%= raw @growth_data %>
          }]
      });
   
   
    });  
  </script>
<% end %>
<% unless @ail_data.blank? %>
  <script>
    var chart3;
    $(document).ready(function() {
      chart3 = new Highcharts.Chart({
        chart: {
          renderTo: 'ail-chart-container', 
          defaultSeriesType: 'area'
        },
        title: {
          text: 'Average Item Level'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'AIL'
          }
        },
        tooltip: {
          formatter: function() {
            return Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>'+
              Highcharts.numberFormat(this.y, 0) +' AIL';
          }
        },
        series: [{
            name: '<%= @guild.name %>',
            data: <%= raw @ail_data %>
          }]
      });
   
   
    });  
  </script>
<% end %>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Online Chart</a></li>
		<li><a href="#tabs-2">Growth Chart</a></li>
		<li><a href="#tabs-3">AIL Chart</a></li>
	</ul>
	<div id="tabs-1">
		<% unless @online_data.blank? %>
	  <div id="online-chart-container" class="chart-container"></div>
	  <% else %>
	  No statistic available
	  <% end %>
	</div>
	<div id="tabs-2">
		<% unless @online_data.blank? %>
	  <div id="growth-chart-container" class="chart-container"></div>
	  <% else %>
	  No statistic available
	  <% end %>
	</div>
	<div id="tabs-3">
		<% unless @online_data.blank? %>
    <div id="ail-chart-container" class="chart-container"></div>
    <% else %>
    No statistic available
    <% end %>
	</div>
</div>
<% end %>