<div class="box_small">
	<div class="box_headline">Account</div>
	<%= form.label :email %><br />
	<%= form.text_field :email %><br />
	<br />
	<%= form.label :password %><br />
	<%= form.password_field :password %><br />
	<br />
	<%= form.label :password_confirmation %><br />
	<%= form.password_field :password_confirmation %><br />
	<br />
	<%= form.label :language, "Language" %><br />
	<%= form.select :language, [['English', 'en'], ['Deutsch', 'de']] %>
</div>
<div class="box_small">
	<div class="box_headline">Contact</div>
	<%= form.label :icq %><br />
	<%= form.text_field :icq %><br />
	<br />
	<%= form.label :msn %><br />
	<%= form.text_field :msn %><br />
	<br />
	<%= form.label :skype %><br />
	<%= form.text_field :skype %><br />
	<br />
	<%= form.label :jabber %><br />
	<%= form.text_field :jabber %><br />
</div>
<div class="clear"></div>
<div class="box_big">
	<div class="box_headline"><%= form.label :signature %></div>
	<%= form.text_area :signature, :size => '100x3' %><br />
</div>