<%- content_for :tooltip do 
	@guild.users.each do |user| 
		user.characters.each do |character| -%>
			<%- tooltip("tooltip_#{character.id}") do -%>
<%= character.name %>
			<%- end -%>
		<%- end -%>
	<%- end -%>
<%- end -%>


<table>
	<thead>
	<tr>
		<th class="narrow"></th>
		<th>Login</th>
		<th>Last Login</th>
		<th>Chars</th>
		<th class="narrow"></th>
		<th class="narrow"></th>
		<th class="narrow"></th>
	</tr>
	</thead>
	<tbody>
		<tr class="header">
			<th class="narrow"></th>
			<th colspan="3"><%= image_tag('icons/role-leader.gif') %>Leaders</th>
			<th class="narrow"></th>
			<th class="narrow"></th>
			<th class="narrow"></th>
		</tr>
		<%= render :partial => 'user', :collection => @guild.leaders, :as => :user, :locals => {:guild => @guild}%>
	</tbody>
	<tbody>
		<tr class="header">
			<th class="narrow"></th>
			<th colspan="3"><%= image_tag('icons/role-officer.gif') %> Officers</th>
			<th class="narrow"></th>
			<th class="narrow"></th>
			<th class="narrow"></th>
		</tr>
		<%= render :partial => 'user', :collection => @guild.officers, :as => :user, :locals => {:guild => @guild}%>
	</tbody>
	<tbody>
		<tr class="header">
			<th class="narrow"></th>
			<th colspan="3"><%= image_tag('icons/role-raidleader.gif', :size => "16x16") %> Raidleaders</th>
			<th class="narrow"></th>
			<th class="narrow"></th>
			<th class="narrow"></th>
		</tr>
		<%= render :partial => 'user', :collection => @guild.raidleaders, :as => :user, :locals => {:guild => @guild}%>
	</tbody>
	<tbody>
		<tr class="header">
			<th class="narrow"></th>
			<th colspan="3"><%= image_tag('icons/role-member.gif') %>Members</th>
			<th class="narrow"></th>
			<th class="narrow"></th>
			<th class="narrow"></th>
		</tr>
		<%= render :partial => 'user', :collection => @guild.members, :as => :user, :locals => {:guild => @guild}%>
	</tbody>
</table>