<div id="content_menu">
	<ul>
		<% if current_user == @user %>
		<li><%= link_to t('users.edit'), edit_account_path %></li>
		<% end %>
	</ul>
</div>

<div style="position:relative; width:100%">
	<div id="gravatar"><%= image_tag @user.gravatar_url %></div>
</div>

<h1><%=h @user.login %></h1>

<div class="box_small">
	<div class="box_headline"><%= t('login') %></div>
	<table>
		<tr>
			<td class="left"><b><%= t('users.login_count') %>:</b></td>
			<td class="left"><%=h @user.login_count %></td>
		</tr>
		<tr>
			<td class="left"><b><%= t('users.last_request_at') %>:</b></td>
			<td class="left"><%=h @user.last_request_at %></td>
		</tr>
		<tr>
			<td class="left"><b><%= t('users.last_login_at') %>:</b></td>
			<td class="left"><%=h @user.last_login_at %></td>
		</tr>
		<tr>
			<td class="left"><b><%= t('users.current_login_at') %>:</b></td>
			<td class="left"><%=h @user.current_login_at %></td>
		</tr>
		<% if @user == current_user || current_user.admin? %>
		<tr>
			<td class="left"><b><%= t('users.last_login_ip') %>:</b></td>
			<td class="left"><%=h @user.last_login_ip %></td>
		</tr>
		<tr>
			<td class="left"><b><%= t('users.current_login_ip') %>:</b></td>
			<td class="left"><%=h @user.current_login_ip %></td>
		</tr>
		<tr>
			<td class="left"><%= t('users.api_key') %></td>
			<td class="left"><%=h @user.single_access_token %></td>
		</tr>
		<% end %>
	</table>
</div>

<div class="box_small">
	<div class="box_headline"><%= t('users.contact') %></div>
	<table>
		<tr>
			<td class="left"><b><%= t('users.email') %>:</b></td>
			<td class="left"><%=h @user.email %></td>
		</tr>
		<tr>
			<td class="left"><b>ICQ/AIM:</b></td>
			<td class="left"><%=h @user.icq %></td>
		</tr>
		<tr>
			<td class="left"><b>MSN:</b></td>
			<td class="left"><%=h @user.msn %></td>
		</tr>
		<tr>
			<td class="left"><b>Skype:</b></td>
			<td class="left"><%=h @user.skype %></td>
		</tr>
		<tr>
			<td class="left"><b>Jabber:</b></td>
			<td class="left"><%=h @user.jabber %></td>
		</tr>
	</table>
</div>

<div class="clear"></div>

<div class="box_big">
	<div class="box_headline"><%= t('users.signature') %></div>
	<p class="signature">
		<%= @user.signature %>
	</p>
</div>
