<h1>Editing event</h1>

<%= form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :guild_id %><br />
    <%= f.text_field :guild_id %>
  </p>
  <p>
    <%= f.label :character_id %><br />
    <%= f.text_field :character_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>