<p>
  <b><%= t('events.labels.action') %>:</b>
  <%=h @event.action %>
</p>

<p>
  <b><%= t('events.labels.content') %>:</b>
  <%=h @event.content %>
</p>

<p>
  <b><%= t('events.labels.guild') %>:</b>
  <%=h @event.guild_id %>
</p>

<p>
  <b><%= t('character') %>:</b>
  <%=h @event.character_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
