<script type="text/javascript" src="/javascripts/jquery.beautyOfCode-min.js"></script>

<script type="text/javascript">
    $.beautyOfCode.init({
      brushes: ['Xml', 'JScript', 'Plain', 'Php'],
			theme: 'FadeToGrey'
    });
</script>
<script>
	$(function() {
		$( "#widgets" ).accordion({
			autoHeight: false,
			navigation: true
		});
	});
</script>

<div id="widgets">
	<h3><a><%= t('widgets.whoisonline') %></a></h3>
	<div>
		<%= render :partial => "whoisonline" %>
	</div>

  <h3><a><%= t('widgets.characters') %></a></h3>
	<div>
		<%= render :partial => "characters"%>
	</div>
	
	<h3><a><%= t('widgets.guild') %></a></h3>
	<div>
		<%= render :partial => "guild"%>
	</div>
</div>
