<% unless @guild.nil?%>
<% 
tabs = Array.new
tabs << link_to("Guild", guild_path(@guild))
tabs << link_to("Members", "/guilds/#{@guild.id}/characters")

if permitted_to? :edit, @guild
	tabs << ""
	tabs << link_to("Edit", edit_guild_path(@guild))
	tabs << link_to("Actualize", :action => "actualize", :id => @guild.id)
end
render :partial => 'shared/tabs', :locals => {:tabs => tabs}
%>
<% end %>
<div style="margin:0px auto></div>
<table>
  <tr>
    <th <%= sort_td_class_helper('name') %>><%= sort_link_helper('Name','name') %></th>
	<% if @guild.nil?%>
	<th <%= sort_td_class_helper('guild') %>><%= sort_link_helper('Guild','guild_id') %></th>
	<% else %>
	<th <%= sort_td_class_helper('rank') %>><%= sort_link_helper('Rank','rank') %></th>
	<% end %>
    <th <%= sort_td_class_helper('level') %>><%= sort_link_helper('Level','level') %></th>
    <th <%= sort_td_class_helper('class') %>><%= sort_link_helper('Class','class_id') %></th>
    <th <%= sort_td_class_helper('race') %>><%= sort_link_helper('Race','race_id') %></th>
    <th <%= sort_td_class_helper('faction') %>><%= sort_link_helper('Faction','faction_id') %></th>
	<th <%= sort_td_class_helper('online') %>><%= sort_link_helper('Online','online') %></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= link_to character.name, character %></td>
	<% if @guild.nil?%>
	<td><%= character.guild.nil? ? "" : link_to(character.guild.name, guild_path(character.guild)) %></td>
	<% else %>
	<td><%=h character.rank %></td>
	<% end %>
    <td><%=h character.level %></td>
    <td><%= image_tag classicon_path(character),:size => "18x18" %></td>
    <td><%= image_tag raceicon_path(character),:size => "18x18" %></td>
    <td><%= image_tag factionicon_path(character), :size => "18x18" %></td>
    <td><%= online_text(character.online) %></td>
	<% permitted_to? :edit, character do %>
	<td><%= link_to image_tag("icons/page_edit.png", :alt => "edt", :size => "16x16"), edit_character_path(character) %></td>
	<% end %>
	<% permitted_to? :delink, character do%>
    <td><%= link_to(image_tag("icons/delete.png", :alt => "del", :size => "16x16"), "/characters/#{character.id}/delink", :confirm => 'Are you sure?') %></td>
	<% end %>
	<% permitted_to? :make_main, character do%>
	<td><%= link_to(image_tag("icons/mainchar.png", :alt => "main", :size => "16x16"), "/characters/#{character.id}/make_main") unless character.main %></td>
	<% end %>
  </tr>
<% end %>
</table>
