<h1><%= t('characters.creation')%></h1>

<%= form_for(@character) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :class_id %><br />
    <%= f.select(:class_id, CLASSES) %>
  </p>
  <p>
    <%= f.label :race_id %><br />
    <%= f.select(:race_id, RACES) %>
  </p>
  <p>
    <%= f.label :faction_id %><br />
    <%= f.select(:faction_id, FACTION) %>
  </p>
  <p>
    <%= f.label :gender_id %><br />
    <%= f.select(:gender_id, GENDER) %>
  </p>
	
  <p>
    <%= f.label :main %><br />
    <%= f.check_box :main %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', characters_path %>
