<p>
  <b>Guild:</b>
  <%=h @character.guild_id %>
</p>

<p>
  <b>User:</b>
  <%=h @character.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @character.name %>
</p>

<p>
  <b>Rank:</b>
  <%=h @character.rank %>
</p>

<p>
  <b>Level:</b>
  <%=h @character.level %>
</p>

<p>
  <b>Online:</b>
  <%=h @character.online %>
</p>

<p>
  <b>Last seen:</b>
  <%=h @character.last_seen %>
</p>

<p>
  <b>Activity:</b>
  <%=h @character.activity %>
</p>

<p>
  <b>Class:</b>
  <%=h @character.class_id %>
</p>

<p>
  <b>Race:</b>
  <%=h @character.race_id %>
</p>

<p>
  <b>Faction:</b>
  <%=h @character.faction_id %>
</p>

<p>
  <b>Gender:</b>
  <%=h @character.gender_id %>
</p>

<p>
  <b>Achivementpoints:</b>
  <%=h @character.achivementpoints %>
</p>

<p>
  <b>Ail:</b>
  <%=h @character.ail %>
</p>

<p>
  <b>Talentspec1:</b>
  <%=h @character.talentspec1 %>
</p>

<p>
  <b>Talentspec2:</b>
  <%=h @character.talentspec2 %>
</p>

<p>
  <b>Profession1:</b>
  <%=h @character.profession1 %>
</p>

<p>
  <b>Profession2:</b>
  <%=h @character.profession2 %>
</p>

<p>
  <b>Main:</b>
  <%=h @character.main %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>