<% cache (["character_show", @character]) do %>
<div id="content_menu">
	<ul>
		<% if permitted_to? :link, @character %>
		<li><%= link_to(t('characters.link_char'), {:controller => "characters", :id => @character.id, :action => 'link'}, :confirm => t('confirmation'))  %></li>
		<% end %>
		<% if permitted_to? :delink, @character %>
		<li><%= link_to(t('characters.unlink_char'), {:action => 'delink'}, :confirm => t('confirmation'))  %></li>
		<% end %>
		<% if permitted_to? :actualize, @character %>
		<li><%= link_to( t('update'), :action => 'actualize') %></li>
		<% end %>
	</ul>
</div>

<div id="charheader">
	<div id="avatar">
		<%= image_tag charicon_path(@character), :size => "64x64", :alt => "Character Icon" %>
		<div id="level">
		  <%=h @character.level %>
		</div>
	</div>

	<div id="iconbar">
	  <div id="class-icon"><%= image_tag classicon_path(@character),:size => "18x18" %></div>
	  <div id="race-icon"><%= image_tag raceicon_path(@character),:size => "18x18" %></div>
	  <div id="faction-icon"><%= image_tag factionicon_path(@character), :size => "18x18" %></div>
	</div>
	
	<div id="infos">
		<div id="name">
		  <%=h @character.name %> <span id="main"><%=h "Mainchar" if @character.main %></span>
		</div>
		
		<% unless @character.guild.nil? %>
		<div id="guild">
		  <%= link_to(@character.guild.name, guild_path(@character.guild))  %> <%=h "(Rank " + @character.rank.to_s + ")" %>
		</div>
		<% end %>
	
		<% unless @character.user.nil? %>
		<div id="owner">
		  owned by <%=h @character.user.login  %>
		</div>
		<% end %>

	</div>
	
	<div id="onlinestatus">
		<%= raw @character.online ? "<span style=\"color:green\">online</span>" : "<span style=\"color:red\">offline</span>" %>
	</div>
</div>

<div class="clear"></div>
<div class="box_small" style="min-height:300px;float:right">
	<div class="box_headline"><%= t('characters.events') %></div>
	<div id="events_box">
	<%= render :partial => "events", :locals => {:events => @character.events.visible}%>
  </div>
</div>
<div class="box_small">
	<div class="box_headline">Details</div>
	<table>
		<tr>
			<td class="left" style="width:50%;"><b><%=t('characters.last_seen')%>:</b></td>
			<td style="width:50%;"><%=h @character.last_seen %></td>
		</tr>
		<tr>
			<td class="left"><b><%=t('characters.activity')%>:</b></td>
			<td><%=h @character.activity %></td>
		</tr>
		<tr>
			<td class="left"><b><%=t('characters.achievements')%>:</b></td>
			<td><%=h @character.achivementpoints %></td>
		</tr>
		<% unless @character.ail.nil? || @character.ailstddev.nil? %>
		<tr>
			<td class="left"><b><%=t('characters.ail')%>:</b></td>
			<td><%=h @character.ail %> &plusmn; <%=h @character.ailstddev %></td>
		</tr>
		<% end %>
	</table>			
</div>

<div class="box_small" style="width:210px">
  <div class="box_headline"><%=t('professions.profs')%></div>
    <table>
			<tr>
			<% if @character.profession1 then %>
			  <td class="narrow"><%= professionicon(@character.profession1) %></td>   
				<td><%= profession_progressbar(@character.profession1) %></td>
			<% end %>
			</tr>
			<tr>
			<% if @character.profession2 then %>
				<td class="narrow"><%= professionicon(@character.profession2) %></td>
				<td><%= profession_progressbar(@character.profession2) %></td>
			<% end %>
			</tr>
    </table>
</div>

<div class="box_small" style="width:208px">
  <div class="box_headline"><%=t('characters.specs')%>:</div>
    <table>
			<tr>
			<% if @character.talentspec1 then %>
				<td class="narrow"><%= talentspecicon(@character.talentspec1) if @character.talentspec1 %></td>
				<td><%=h @character.talentspec1.prim %> [<%=h @character.talentspec1.trees[1] %>/<%=h @character.talentspec1.trees[2] %>/<%=h @character.talentspec1.trees[3] %>]</td>
			<% end %>
			</tr>
			<tr>
			<% if @character.talentspec2 then %>
			  <td class="narrow"><%= talentspecicon(@character.talentspec2) if @character.talentspec2 %></td>
				<td><%=h @character.talentspec2.prim %> [<%=h @character.talentspec2.trees[1] %>/<%=h @character.talentspec2.trees[2] %>/<%=h @character.talentspec2.trees[3] %>]</td>
			<% end %>
			</tr>
    </table>
</div>
<% end %>
