<% 
tabs = Array.new
tabs << link_to('Index', characters_path)
tabs << ""
tabs << link_to('Mark as Mine!', {:controller => "characters", :id => @character.id, :action => 'link'}, :confirm => 'Is this really your character?') if permitted_to? :link, @character
tabs << link_to('Not Mine!', :confirm => 'Are you sure?', :action => 'delink') if permitted_to? :delink, @character
if permitted_to? :actualize, @character
	tabs << ""
	tabs << link_to('Actualize', :action => 'actualize') 
	tabs << link_to('Generate AIL', :action => 'generate_ail')
end

render :partial => 'shared/tabs', :locals => {:tabs => tabs}
%>

<div id="charheader">
	<div id="avatar">
		<%= image_tag charicon_path(@character), :size => "64x64", :alt => "Character Icon" %>
		<div id="level">
		  <%=h @character.level %>
		</div>
	</div>

	<div id="iconbar">
	  <div id="class-icon"><%= image_tag classicon_path(@character),:size => "18x18" %></div>
	  <div id="race-icon"><%= image_tag raceicon_path(@character),:size => "18x18" %></div>
	  <div id="faction-icon"><%= image_tag factionicon_path(@character), :size => "18x18" %></div>
	</div>
	
	<div id="infos">
		<div id="name">
		  <%=h @character.name %> <span id="main"><%=h "Mainchar" if @character.main %></span>
		</div>
		
		<% unless @character.guild.nil? %>
		<div id="guild">
		  <%= link_to(@character.guild.name, guild_path(@character.guild))  %> <%=h "(Rank " + @character.rank.to_s + ")" %>
		</div>
		<% end %>
	
		<% unless @character.user.nil? %>
		<div id="owner">
		  owned by <%=h @character.user.login  %>
		</p>
		<% end %>

	</div>
	
	<div id="onlinestatus">
		<%= online_text(@character.online) %>
	</div>
</div>

<div id="details">
<h3>Details</h3>

<p>
  <b>Last seen:</b>
  <%=h @character.last_seen %>
</p>


<p>
  <b>Activity:</b>
  <%=h @character.activity %>
</p>

<p>
  <b>Achivementpoints:</b>
  <%=h @character.achivementpoints %>
</p>

<% unless @character.ail.nil? || @character.ailstddev.nil? %>
<p>
  <b>Ail:</b>
  <%=h @character.ail %> &plusmn; <%=h @character.ailstddev %>
</p>
<% end %>

	<% if @character.profession1 && @character.profession2 then %>
	<div id="prefessions">
	  <h3>Professions:</h3>
	
	    <% if @character.profession1 then %>
	    <div class="profession">
		  <%= image_tag(professionicon_path(@character.profession1))  %>
	      <%= profession_progressbar(@character.profession1) %>
		</div>
	    <% end %>
	
	    <% if @character.profession2 then %>
	    <div class="profession">
		  <%= image_tag(professionicon_path(@character.profession2)) %>
	      <%= profession_progressbar(@character.profession2) %>
		</div>
	    <% end %>
	  </table>
	</div>
	<% end %>

	<% if @character.talentspec1 && @character.talentspec1 %>
	<div id="talentspecs">
	  <h3>Talentspecs:</h3>
	
	  <% if @character.talentspec1 %>
	  <%= image_tag(talentspecicon_path(@character.talentspec1,@character.class_id)) %> <%=h @character.talentspec1.prim %> 
	  [<%=h @character.talentspec1.trees[1] %>,<%=h @character.talentspec1.trees[2] %>,<%=h @character.talentspec1.trees[3] %>]<br />
	  <% end %>
	
	  <% if @character.talentspec2 %>
	  <%= image_tag(talentspecicon_path(@character.talentspec2,@character.class_id)) %><%=h @character.talentspec2.prim %> 
	  [<%=h @character.talentspec2.trees[1] %>,<%=h @character.talentspec2.trees[2] %>,<%=h @character.talentspec2.trees[3] %>]
	  <% end %>
	</div>
	<% end %>

</div>

<div id="events">
	<h3>Newest Events</h3>
	<%= render :partial => 'shared/event', :collection => @character.events.last(10).reverse %>
</div>
