<table style="border-collapse: inherit; border-bottom: none">
	<tr>
		<td><h1><%= t('login') %></h1></td>
		<% unless @user.nil? %>
		<td><h1><%= t('or') %></h1></td>
		<td><h1><%= t('register') %></h1></td>
		<% end %>
	</tr>
	<tr>
		<td>
			<%= form_for @user_session, :url => user_session_path do |f| %>
			  <%= f.label :login, t('login') %><br />
			  <%= f.text_field :login %><br />
			  <br />
			  <%= f.label :password, t('users.password') %><br />
			  <%= f.password_field :password %><br />
			  <br />
			  <%= f.check_box :remember_me %><%= f.label :remember_me, t('users.remember_me') %><br />
			  <br />
			  <%= f.submit "Login" %>
			<% end %>
		</td>
		<% unless @user.nil? %>
		<td></td>
		<td>
			<%= form_for @user, :url => account_path do |f| %>
			  <br />
			  <%= f.label :login, t('login') %><br />
			  <%= f.text_field :login %><br />  
			  <br />
			  <%= f.label :email, t('users.email') %><br />
			  <%= f.text_field :email %><br />
			  <br />
			  <%= f.submit "Register" %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<tr><td colspan="3"><%=link_to t('users.request_new_pw'), new_password_reset_path %></td></tr>
</table>
