<%= form_for(@attendance) do |f| %>
  <%= f.error_messages %>
	<table>
		<tr>
			<td><%= f.label :character %></td>
			<td class="left">
			<% if @characters.count > 10 %>
				<script>
					$(function() {
						var characters = [<%= raw( @characters.map{|c| "\"" + c.name + "\""}.join(',')) %>];
						$( "#character_name" ).autocomplete({
							source: characters
						});
					});
				</script>
				<%= text_field_tag(:character_name) %>
			<% else %>
				<%= f.collection_select(:character_id, @characters, :id, :name, {:prompt => t('characters.select')}) %>
			<% end %>
			</td>
		</tr>
		<tr>
			<td><%= f.label :role %></td>
			<td class="left"><%= f.select(:role, configatron.raidplanner.roles, {:prompt => t('characters.role')}) %></td>
		</tr>
		<tr>
			<td><%= f.label :status %></td>
			<td class="left"><%= f.select(:status, configatron.raidplanner.status, {:selected => 2}) %></td>
		</tr>
		<tr>
			<td><%= f.label :message %></td>
			<td class="left"><%= f.text_field :message %></td>
		</tr>
	</table>
	<%= f.hidden_field :raid_id %>
	<%= f.submit "Create"%>
<% end %>