<h1>New attendance</h1>

<%= form_for(@attendance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :character_id %><br />
    <%= f.text_field :character_id %>
  </p>
  <p>
    <%= f.label :raid_id %><br />
    <%= f.text_field :raid_id %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', attendances_path %>