<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RisingGuilds - <%= controller.controller_name %> - <%= controller.action_name %></title>
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :all %>
</head>

<body>
<div id="container">
  <div id="topbar">
    <div class="topbar-content">
			<div style="float:left">
				<%= link_to "Help", :controller => 'pages', :id => 'help' %>
			</div>
			<div style="float:rigth">
			<% if logged_in? %>
				<%= t("layouts.logged_in_as") %> <%= link_to h(current_user.login.capitalize), account_path %> | <%= link_to "Logout", logout_path %>
			<% else %>
				<%= link_to "Login / SignUp", login_path %>
			<% end %>
			</div>
			
		</div>
  </div>
  <div id="tabnav">
  <ul>
    <li><%= link_to 'Home', root_url %></li>
	<li><%= link_to 'Rating', rating_path %></li>
	<% unless current_user.nil? %>
	<li><%= link_to 'My Guilds', guilds_path %></li>
	<li><%= link_to 'My Raids', raids_path %></li>
	<li><%= link_to 'My Characters', user_characters_path(current_user) %></li>
	<li><%= link_to 'New Guild', new_guild_path %></li>
	<% end %>
  </ul>
  </div>
  <div class="clear"></div>
  <div id="center">
	<% if content_for?(:guild_header)%>
	<div id="guild_header"> 
	  <%= yield(:guild_header)%>
	</div>
	<% end %>
	
	<div style="position:relative; width:100%">
	  <%= yield(:tabs) %>
	  <% unless current_user.nil? || current_user.guilds.empty? %>
	  <div id="guild_switcher">
		<% if controller.controller_name == "guilds" && controller.action_name == "show" %>
		<%= select("id", "name", current_user.guilds.collect {|g| [g.name, g.id] }, 
			{:selected => params[:id].to_i},  
			{:onchange => "window.location='/guilds/'+this.value;"} ) %>
		<% elsif !params[:guild_id].nil? %>
		<%= select("id", "name", current_user.guilds.collect {|g| [g.name, g.id] }, 
			{:selected => params[:guild_id].to_i},  
			{:onchange => "window.location='/guilds/'+this.value+'/#{controller.controller_name}';"} ) %>
		<% end %>
	  </div>
	  <% end %>
	</div>
	<div id="popups">
	  <% if flash[:notice] %>
	  <p id="notice"><%= flash[:notice] %></p>
	  <% end %>
	  <% if flash[:error] %>
	  <p id="error"><%= flash[:error] %></p>
	  <% end %>
	</div>
    <div id="content">
	  <%= content_for?(:content) ? yield(:content) : yield %>
      <div class="clear"></div>
    </div>
  </div>
  <div id="fooder">
    <div class="fooder_content">
			<%- concat configatron.version -%><br />
			<a href="http://code.dreamblaze.net/projects/risingguilds/">Rising-Guilds</a> is maintained and hosted by <a href="http://www.dreamblaze.net/">DreamBlaze</a><br/>
			powered by <a href="http://www.rubyonrails.org/">Ruby On Rails</a>
		</div>
	</div>
</div>
<div id="tooltips">
	<%= yield(:tooltip) %>
</div>

<script type="text/javascript">
  var uservoiceOptions = {
    key: 'risingguilds',
    host: 'risingguilds.uservoice.com', 
    forum: '70757',
    alignment: 'left',
    background_color:'#242222', 
    text_color: 'white',
    hover_color: '#1e4063',
    lang: 'en',
    showTab: true
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
</body>
</html>
