<% content_for :guild_header do %>
<% 
@guild ||= Guild.find(params[:guild_id]) 
@online_characters ||= @guild.characters.find_all_by_online(true) unless @guild.nil?
%>
<% cache (["guild_header", @guild]) do %>
<div class="guildlogo">
  <%= image_tag(@guild.logo.url, :alt => "guildlogo", :size => "100x100") %>
</div>
<div class="guildname">
  <%=h @guild.name %>
</div>
<div id="guildmembers">
  <%=h @guild.characters.count %> members <%=h "(#{@online_characters.count} online)"%>
</div>
<div id="guildrealm">
  <%=h @guild.realm %>	
</div>
<% unless @guild.website.blank? %>
<span id="website">
  <%= image_tag("icons/website.png", :alt => "website") %> <%= link_to @guild.website, @guild.website, {'data-popup' => true} %>
</span>
<% end %>
<% unless @guild.teamspeak.blank? %>
<span id="teamspeak">
  <%= image_tag("icons/teamspeak.png", :alt => "teamspeak") %> <a href="ts3server://<%= @guild.teamspeak %>"><%= @guild.teamspeak %></a>
</span>
<% end %>
<% unless @guild.verified? || !permitted_to?(:maintain, @guild) %>
<div id="verify_guild">
  <p><%= link_to t('guilds.verified'), :controller => 'guilds', :action => 'verify', :id => @guild.id %></p>
</div>
<% end %>
<div class="clear"></div>
<% end %>
<% end %>

<% content_for :tabs do %>
<%
@tabs << link_to(t('guilds.tabs.overview'), guild_path(@guild))
@tabs << link_to(t('guilds.tabs.members'), guild_characters_path(@guild))
@tabs << link_to(t('guilds.tabs.statistics'), guild_statistics_path(@guild))
if @guild.users.include?(current_user)
	@tabs << link_to(t('guilds.tabs.raids'), guild_raids_path(@guild)) 
	@tabs << link_to(t('guilds.tabs.users'), guild_users_path(@guild))
else
	@tabs << link_to(t('guilds.tabs.join'), guild_path(@guild) + "/join") 
end

if permitted_to? :maintain, @guild
	@tabs << ""
	@tabs << link_to(t('guilds.tabs.widgets'), :controller => 'guilds', :action => 'widgets', :id => @guild.id)
	@tabs << link_to(t('guilds.tabs.settings'), :controller => 'guilds', :action => 'maintain', :id => @guild.id)
end

render :partial => 'shared/tabs', :locals => {:tabs => @tabs}
%>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<%= render(:file => 'layouts/application')%>

