<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Guilds: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :all %>
</head>
<body>
  <div id="container">
	<!-- Header Div -->
    <div id="header">
      <div id="title"></div>
	  <div id="usermenu">
		<% if logged_in? %>
		<%= link_to "Logout", logout_path %> |
		<%= link_to "Account", account_path %> |
		<%= link_to "my Characters", "/users/#{current_user.id}/characters" %>
		<% else %>
		<%= link_to "Login", login_path %> |
		<%= link_to "SignUp", signup_path %> 
		<% end %>
	  </div>
    </div>
	<div id="ketten" </div>
	<div class="clear">&nbsp;</div>
	<!-- END Header Div -->
	
	<!-- NavBar Div -->
	<div id ="mainnav">
		<ul id="navbar">
			<li><%= link_to 'Home', root_url %></li>
			<li><%= link_to 'Guilds', guilds_path %></li>
			<li><%= link_to 'Characters', characters_path %></li>
		</ul> 
	</div>
	<div class="clear">&nbsp;</div>
	<!-- END NavBar Div -->
	
	<div id="center">
	
		<%= yield(:tabs) %>
	
		<!-- Content Div -->
	    <div id="content">	
		<% if flash[:notice] %>
	      <p id="notice"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:error] %>
		  <p id="error"><%= flash[:error] %></p>
		<% end %>

	      <%= yield %>
	    </div>
		<!-- End Content Div-->
		
	</div>
	<div class="clear">&nbsp;</div>
	
	<!-- Fooder Div -->
    <div id="footer">
      design, code and copyright by DreamBlaze<br />
      powered by <%= link_to 'Ruby On Rails', "http://www.rubyonrails.org" %>
    </div>
	<div class="clear">&nbsp;</div>
	<!-- End Footer Div-->
	
  </div>
</body>
</html>
